*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: white;
}
a, button{
    text-decoration: none;
    background: none;
    border: none;
    font-size: 22px;
    color: white;
    font-weight: normal;
}
#navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    align-items: center;
    width: 100%;
    background: #be3144;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 0px;        
}
#navbar div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    margin-right: 50px;
    height: 70px;
}
#navbar div button:hover{
    background-color: #45567d;
    height: 70px;
    padding: 0 20px;
}
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 80px 0;
    background: #303841;
}
h1{
    font-size: 2.0em;
}
#welcome-section p{
    font-style: italic;
}
#projects {
    text-align: center;
    padding: 5rem 0;
    background: #45567d;
}
h2{
    border-bottom: 2px solid white;
    width: 53%;
    margin: 0 auto;
}
#project-tile{
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0;
    justify-content: space-evenly;
    row-gap: 1.5em;
}
.project-tile{
    background-color: #303841;
}
.project-tile a p{
    font-size: 20px;
    padding: 15px 0;
}
.project-tile a p:hover{
    text-decoration: overline;
}
#projects button{
    background-color: #303841;
    padding: 15px 35px;
}
#projects button:hover{
    background: #be3144;
}
.profile-link{
    background-color: #303841;
    text-align: center;
    margin: 0 auto;
    padding: 120px 0;
    border-bottom: 5px solid #be3144;
}
.profile-link p{
    font-style: italic;
    font-size: 16px;
    padding-bottom: 50px;
}
.Icons{
    display: flex;
    justify-content: center;
    gap: 1.5em;
    color: white;
}
i{
    font-size: 28px;
    padding-right: 10px;
    }
    .Icons i{
        color: white;
    }
footer{
    background-color: #303841;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    align-items: center;
}
footer p{
    font-size: 18px;
}
@media(max-width:1220px){
h2{
    border-bottom: 1.5px solid white;
    width: 45%;
    margin: 0 auto;
    font-size: 1.2em;
}
}
@media(max-width:1140px){
    h2{
        border-bottom: 1.5px solid white;
        width: 42%;
        margin: 0 auto;
        font-size: 1.0em;
    }
    }
    @media(max-width:1030px){
        h2{
            border-bottom: 1.5px solid white;
            width: 40%;
            margin: 0 auto;
            font-size: .9em;
        }
        }
@media(max-width:968px){
    h2{
        border-bottom: 1.2px solid white;
        width: 50%;
        margin: 0 auto;
        font-size: .95em;
    }
    h1{
        font-size: 1.5em;
    }
    footer p{
        font-size: 14px;        
    }
    }
    @media(max-width:820px){
        h2{
            border-bottom: 1.2px solid white;
            width: 60%;
            margin: 0 auto;
            font-size: .95em;
        }
        footer{
            display: block;
            text-align: center;            
        }
        footer p{
            font-size: 16px;        
        }
        #welcome-section {
            height: 60vh;
            padding: 30px 0;
            background: #303841;
        }
    }
    @media(max-width:690px){
        h2{
            border-bottom: 1.2px solid white;
            width: 70%;
            margin: 0 auto;
            font-size: .95em;
        }
        footer p{
            font-size: 14px;        
        }
        .Icons{
            gap: 1em;
        }
        .Icons a{
            font-size: 18px;
        }
    }
    @media(max-width:590px){
        h2{
            border-bottom: 1.2px solid white;
            width: 80%;
            margin: 0 auto;
            font-size: .85em;
        }
        footer p{
            font-size: 14px;        
        }
        .Icons{
            gap: .9em;
        }
        .Icons a{
            font-size: 16px;
        }
    }
    @media(max-width:500px){
        #welcome-section {
            height: 40vh;
            padding: 30px 0;
            background: #303841;
        }        
        #navbar div a{
            font-size: 16px;
        }
        #navbar div{
            height: 50px;
        }
        #navbar div button:hover{
            background-color: #45567d;
            height: 50px;
            padding: 0 20px;
        }
        h2{
            border-bottom: 1.2px solid white;
            width: 75%;
            margin: 0 auto;
            font-size: .55em;
        }
        h1{
            font-size: 1.0em;
        }
        #welcome-section p{
            font-size: 18px;
        }
        footer p{
            font-size: 12px;        
        }
        .Icons{
            gap: .9em;
        }
        .Icons a{
            font-size: 12px;
        }
        #project-tile{
            display: block;            
            padding: 10px 0;
            width: 200px;
            margin: 0 auto;
        }
        .project-tile a img{
            width: 200px;
            height: 160px;
        }
        .project-tile{
            margin: 30px 0;
        }
        .project-tile a p{
            font-size: 14px;
        }
        #projects {
            text-align: center;
            padding: 2rem 0;
            background: #45567d;
        }
        .profile-link{
            padding: 80px 0;
        }   
        #projects button{
            background-color: #303841;
            padding: 15px 20px;
        }
        #projects button a{
            font-size: 18px;
        }
    }
    
    @media(max-width:380px){
        #navbar div a{
            font-size: 12px;
        }
        #navbar div{
            height: 40px;
        }
        #navbar div button:hover{
            background-color: #45567d;
            height: 40px;
            padding: 0 20px;
        }
        h2{
            border-bottom: 1.2px solid white;
            width: 90%;
            margin: 0 auto;
            font-size: .55em;
        }
        h1{
            font-size: .8em;
        }
        #welcome-section p{
            font-size: 12px;
        }
        footer p{
            font-size: 9px;        
        }
        .Icons{
            gap: .7em;
        }
        .Icons a{
            font-size: 10px;
        }
        #project-tile{
            display: block;            
            padding: 10px 0;
            width: 200px;
            margin: 0 auto;
        }
        .project-tile a img{
            width: 200px;
            height: 150px;
        }
        .project-tile{
            margin: 20px 0;
        }
        .project-tile a p{
            font-size: 12px;
        }
        #projects {
            text-align: center;
            padding: 2rem 0;
            background: #45567d;
        }
        .profile-link{
            padding: 60px 0;
        }
        
    }
    @media(max-width:320px){
        h1{
            font-size: .6em;
        }
        h2{
            font-size: 12px;
        }
        .Icons{
            gap: .4em;
        }
        .Icons a{
            font-size: 8px;
            font-weight: normal;
        }
        #projects button{
            background-color: #303841;
            padding: 10px 15px;
        }
        #projects button a{
            font-size: 16px;
        }
   
    }